<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WizZie - Restaurant</title>
  <meta name="description" content="This website was created with the aim of collecting assignments in the front end expert module">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>

    <header class="header">
        <a href="/">
            <h1 class="nav_logo">WizZie</h1>
        </a>
        <button class="menu" id="menu" aria-label="button menu dropdown on mobile">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#content">Recommendation</a></li>
                <li class="nav_item"><a href="https://instagram.com/adheichsn?igshid=ZGUzMzM3NWJiOQ==">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 6, .6), rgba(0, 0, 6, .6)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="hero-h1">For Fine Dine</h1>
            <h3 class="hero-h3">Best Place, Best Service</h3>
            <p class="hero-tagline">We will happy to see you in Our Restaurant</p>
            <h2 class="hero-btn">Get Started</h2>
        </div>
    </div>

    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Recommendation Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
          <img src="https://i.postimg.cc/g0706kfz/player.png" alt="WizZie">
          <h3>WizZie.</h3>
          <p>copyright &copy; 2023 WizZie</p>
        </div>
    </footer>
</body>
</html>
